<div class="google-ads" style="margin:10px 0;">
	<a href="http://weibo.com/u/1833380601?s=6uyXnP" target="_blank">
		<img border="0" src="http://service.t.sina.com.cn/widget/qmd/1833380601/6796821b/1.png"/>
	</a>
</div>
<script> 
window._bd_share_config = {
    "common": {
        "bdSnsKey": {},
        "bdText": "{{ page.title }} —— {{ site.url }}",
        "bdMini": "2",
        "bdMiniList": false,
        "bdPic": "/images/site-logo.png",
        "bdStyle": "2",
        "bdSize": "16"
    },
    "slide": {
        "type": "slide",
        "bdImg": "5",
        "bdPos": "right",
        "bdTop": "153.5"
    },
    "image": {
        "viewList": ["qzone", "tsina", "tqq", "renren", "weixin"],
        "viewText": "猛戳这里：",
        "viewSize": "16"
    },
    "selectShare": {
        "bdContainerClass": null,
        "bdSelectMiniList": ["qzone", "tsina", "tqq", "renren", "weixin"]
    }
};
with(document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~ ( - new Date() / 36e5)]; </script>/